<div class="container">
    <style>
        table {
            border-collapse: collapse;
            border-radius: 10px;
            overflow: hidden;
        }
    </style>
    
    <br>
    <button class="btn btn-lg register <%= (page == '/.createSurvey') ? 'active1' : ''; %>" aria-current="page" style="float:left" type="button" tabindex="-1" role="button" href="/createSurvey"><i class="fa-solid fa-circle-plus"></i> Create New Survey</button>
    <br>
    <br>
    <div class="row">
        <div class="col">
    
            <table class="table table-striped table-bordered table-hover">
                <thead class="table-dark">
                    <tr>
                        <th scope="col" class="text-center">No.</th>
                        <th scope="col" class="text-center">Active</th>
                        <th scope="col" class="text-center">Survey Name</th>
                        <th scope="col" class="text-center">Start Date</th>
                        <th scope="col" class="text-center">End Date</th>
                        <th scope="col" class="text-center">Edit</th>
                        <th scope="col" class="text-center">Delete</th>
                        <th scope="col" class="text-center">Stats</th>
                    </tr>
                </thead>
                <tbody id="contactList" class="table-light">
                    <!-- Repeatable Rows -->
                    <% for(let count = 0; count < surveys.length; count++) { %>
                        <!-- Create a new Table Row-->
                        <tr>
                            <th scope="row" class="text-center"><%= count + 1 %></th>
                            <td><%  if (surveys[count].isActive) { %> 
                                <a href="/userSurveys/ToggleisActive/<%= surveys[count]._id %>" class="btn btn-sm text-light" style="background: #FF5252"><i class="fas fa-times-circle"></i> 
                                    De-Activate</a> 
                            <%}else{%> 
                                <a href="/userSurveys/ToggleisActive/<%= surveys[count]._id %>" class="btn btn-sm text-light" style="background: #00897B"><i class="fas fa-check-circle"></i> Activate</a> 
                                <% } %> 
                            </td>
                            <td><%= surveys[count].surveyName %></td>
                            <td <% if (surveys[count].startDate > new Date()) { %> style="color:#FF5252;font-weight: bold" <% } %> ><%= surveys[count].startDate.toLocaleTimeString() + " " +  surveys[count].startDate.toDateString() ; %></td>
                            <td <% if (surveys[count].endDate < new Date()) { %> style="color:#FF5252;font-weight: bold" <% } %> ><%= surveys[count].endDate.toLocaleTimeString() + " " +  surveys[count].endDate.toDateString() ; %></td>  
                            <td><a href="/userSurveys/updateSurvey/<%= surveys[count]._id %>" class="btn btn-sm text-light" style="background:#8C50FE;">
                                <i class="fas fa-pencil-alt"></i> View/Update</a>
                                <td>
                                    <!--https://getbootstrap.com/docs/5.2/components/modal/-->
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-sm text-light" style="background: #FF5252" data-bs-toggle="modal" data-bs-target="#exampleModal<%= count %>"><i class="fas fa-trash-alt"></i> DELETE</button>
                                </td>
                            <!-- Modal -->
                            <!--Important, ids must be unique to ensure the correct record is deleted (count concatenated to end of id)-->
                            <div class="modal fade" id="exampleModal<%= count %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Are you sure you wish to delete <%= surveys[count].Name %>?</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        This action cannot be undone.
                                    </div>
                                    <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <a href="/userSurveys/delete/<%= surveys[count]._id %>" class="btn btn-danger">
                                        <i class="fas fa-trash-alt"></i> Delete</a>                                    
                                    </div>
                                </div>
                                </div>
                            </div>
                            <td><a href="/userSurveys/statistics/<%= surveys[count]._id %>" class="btn btn-sm text-light" style="background: #00897B">
                                <i class="fa-solid fa-chart-pie"></i>Statistics</a> 
                            </td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
    </div>
</div>