<div class="container">
    <style>
        table {
            border-collapse: collapse;
            border-radius: 10px;
            overflow: hidden;
        }
    </style>
    <div class="row">
        <div class="col">
            <br>
            <table class="table table-striped table-bordered table-hover table-rounded">
                <thead class="table-dark">
                    <tr>
                        <th scope="col" class="text-center text-light">No.</th>
                        <th scope="col" class="text-center text-light">Survey Name</th>
                        <th scope="col" class="text-center text-light">Start Date</th>
                        <th scope="col" class="text-center text-light">End Date</th>   
                        <th scope="col" class="text-center text-light">Answer Survey</th>                      
                    </tr>
                </thead>
                <tbody id="surveyList">
                    <!-- Repeatable Rows -->
                    <% for(let count = 0; count < surveys.length; count++) { %>
                        <!-- Create a new Table Row-->
                        <tr class="table table-light">
                            <th scope="row" class="text-center"><%= count + 1 %></th>
                            <td><%= surveys[count].surveyName %></td>
                            <td><%= surveys[count].startDate.toDateString() %></td>
                            <td><%= surveys[count].endDate %></td>  
                            <td class="text-center"><a href="/viewSurveys/answerSurvey/<%= surveys[count]._id %>" class="btn btn-sm text-light" style="background:#8C50FE;">
                                Answer</a>
                            </td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
    </div>
</div>