<!-- Content for the Add page -->
<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            

            <form class="form" method="POST">
                <div class="form-group">
                    <label for="nameTextField">Name of Contact</label>
                    <input type="text" class="form-control"
                    id="name"
                    
                    name="name" 
                    value="<%= contacts.Name %>"
                    required>
                </div>

                <div class="form-group">
                    <label for="number">Phone Number</label>
                    <input type="tel" class="form-control"
                    id="number"
                    
                    name="number" 
                    value="<%= contacts.Number %>"
                    required>
                </div>

                
                <div class="form-group">
                    <label for="emailAddr">Enter Email</label>
                    <input type=" text" class="form-control"
                    id="emailAddr"
                    
                    name="emailAddr" 
                    value="<%= contacts.Email %>"
                    required>
                </div>

                <br>

                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-edit"></i> Submit</button>           
                    


                    <!--https://getbootstrap.com/docs/5.2/components/modal/-->
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        <i class="fas fa-trash-alt"></i> DELETE
                    </button>
                    
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Are you sure you wish to delete <%= contacts.Name %>?</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                This action cannot be undone.
                              </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <a href="/contact-list/delete/<%= contacts._id %>" class="btn btn-danger">
                                <i class="fas fa-trash-alt"></i> Delete</a>
                            </div>
                        </div>
                        </div>
                    </div>

                    <a href="/contact-list" class="btn btn-warning">
                        <i class="fas fa-undo"></i> Cancel</a>


            </form>
        </div>

    </div>
</div>

